<div class="js_index_actived">
    <div id="creditcard-index-ad" class="homepage-slider-wrap">
        <!-- 加上底图防止页面展示时抖动 -->
        <img src="https://pic.c-ctrip.com/picaresonline/creditcard/pic/h5/images/banner_loading.495e423d.jpg" id="12fd7d93-8581-244a-4a30-149868a04720" style="width:100%;">
    </div>
    <!-- homepage-btns start-->
    <ul class="homepage-btns-list">
        <li class="js_goto" data-viewname="cashback">
            <span></span>
            <i>返现记录</i>
        </li>
        <li class="js_go_rights" >
            <span></span>
            <i>我的权益</i>
        </li>
        <li class="js_goto" data-viewname="bill">
            <span></span>
            <i>我的账单</i>
        </li>
        <li class="js_goto" data-viewname="balance">
            <span></span>
            <i>我的额度</i>
        </li>
    </ul>
    <!-- homepage-btns end-->
    <!-- homepage-ad start -->
    <div class="homepage-ad-wrap js_ad_wrap">
        <slot></slot>
    </div>
    <!-- homepage-ad end -->
</div>