<div class="js_index_applied">
    <!-- banner start -->
    <div class="homepage-slider-wrap">
        <img src="//pic.c-ctrip.com/picaresonline/creditcard/pic/h5/images/hp_activation_bg.ed9f8a23.jpg" />
    </div>
    <!-- banner end -->

    <!-- homepage-ad start -->
    <div class="homepage-not-active">
        <img class="js_go_progress" src="//pic.c-ctrip.com/picaresonline/creditcard/pic/h5/images/hp_application_status.d16fdc5d.png" />
        <img class="js_goto" data-viewname="activeCardRule" src="//pic.c-ctrip.com/picaresonline/creditcard/pic/h5/images/hp_card_activation.e42810e9.png" />
        <img class="js_go_rights" src="//pic.c-ctrip.com/picaresonline/creditcard/pic/h5/images/hp_card_privileges.4f52b11d.png" />
    </div>
    <!-- homepage-ad end -->
</div>