<div class="js_index_unlogin">
    <!-- head end -->
    <!-- banner start -->
    <div class="homepage-slider-wrap">
        <img src="//pic.c-ctrip.com/picaresonline/creditcard/pic/h5/images/homepage_header.b5c2a4af.png" />
    </div>
    <!-- banner end -->
    <!-- homepage-ad start homepage_enjoy.b0754a8c.jpg-->
    <div class="homepage-ad-wrap homepage-ad-space js_ad_wrap">
        <slot></slot>
    </div>
    <!-- homepage-ad end -->
    <!-- 立即办卡 start -->
    <div class="homepage-docard-wrap">
        <div class="homepage-docard js_apply">
            <button class="docard-btn">我要办卡</button>
        </div>
    </div>
    <!-- 立即办卡 end -->
</div>